.decoimage {
  height: calc(100vw / 2);
  border-style: none;
}

/* table, tr, th, td {
/*   border: none; */
/*   border: 1px solid #0E1117!important; */
/*   margin:0;
  padding:0; */
/*   border:0!important; */
/*   outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent; */
} */

.decotable {
/*   border-color: hsla(0,0,0,0)!important; */
  border-color: transparent!important;
  border-spacing: 0!important;
  border-style: none;
  border: 2px solid;
/*   border-color: #0E1117!important; */
  border-collapse: collapse!important;
}

@media(prefers-color-scheme: dark){
  table {
/*     border: 2px solid #0E1117!important; */
  }
}
@media(prefers-color-scheme: light){
  
}
