.decoimage {
  height: calc(100vw / 2);
  border-style: none;
}

.decotable {
/*   border-color: hsla(0,0,0,0)!important; */
  border-color: transparent!important;
  border-spacing: 0!important;
  border-style: none;
  border: 2px solid;
/*   border-color: #0E1117!important; */
/*   border-collapse: collapse!important; */
}

.decotr {
  border-color: transparent!important;
  border-spacing: 0!important;
  border-style: none;
}

figure {
  display: flex;
  justify-content: center;
}
